[
 {ssl, [{versions, ['tlsv1.2', 'tlsv1.1', tlsv1]},
         {ciphers,  [{dhe_rsa,aes_256_cbc,sha}]}
        ]},
 {rabbit,
  [
   {tcp_listeners, [{{ rabbitmq_amqp_port }}]},

   %% SSL listeners are configured in the same fashion as TCP listeners,
   %% including the option to control the choice of interface.
   %%
{% if rabbitmq_ssl %}
   {ssl_listeners, [5671]},
{% else %}
   %% {ssl_listeners, [5671]},
{% endif %}
   %% Maximum time for AMQP 0-8/0-9/0-9-1 handshake (after socket connection
   %% and SSL handshake), in milliseconds.
   %%
   %% {handshake_timeout, 10000},

    {log_levels, [{connection, {{ rabbitmq_default_loglevel | lower }}}]},
{% if rabbitmq_loopback_users|length > 0 %}
    {loopback_users, [<<"{{ rabbitmq_loopback_users|join('">>, <<"') }}">>]},
{% else %}
    {loopback_users, []},
{% endif %}

{% if rabbitmq_ssl %}
   %% Configuring SSL.
   %% See http://www.rabbitmq.com/ssl.html for full documentation.
   %%
   {ssl_options, [{cacertfile,           "{{ rabbitmq_ssl_cacertfile}}"},
                  {certfile,             "{{ rabbitmq_ssl_certfile }}"},
                  {keyfile,              "{{ rabbitmq_ssl_keyfile }}"},
                  {versions, ['tlsv1.2', 'tlsv1.1', tlsv1]},
                  {ciphers, ["ECDHE-ECDSA-AES256-GCM-SHA384","ECDHE-RSA-AES256-GCM-SHA384",
                        "ECDHE-ECDSA-AES256-SHA384","ECDHE-RSA-AES256-SHA384", "ECDHE-ECDSA-DES-CBC3-SHA",
                        "ECDH-ECDSA-AES256-GCM-SHA384","ECDH-RSA-AES256-GCM-SHA384","ECDH-ECDSA-AES256-SHA384",
                        "ECDH-RSA-AES256-SHA384","DHE-DSS-AES256-GCM-SHA384","DHE-DSS-AES256-SHA256",
                        "AES256-GCM-SHA384","AES256-SHA256","ECDHE-ECDSA-AES128-GCM-SHA256",
                        "ECDHE-RSA-AES128-GCM-SHA256","ECDHE-ECDSA-AES128-SHA256","ECDHE-RSA-AES128-SHA256",
                        "ECDH-ECDSA-AES128-GCM-SHA256","ECDH-RSA-AES128-GCM-SHA256","ECDH-ECDSA-AES128-SHA256",
                        "ECDH-RSA-AES128-SHA256","DHE-DSS-AES128-GCM-SHA256","DHE-DSS-AES128-SHA256",
                        "AES128-GCM-SHA256","AES128-SHA256","ECDHE-ECDSA-AES256-SHA",
                        "ECDHE-RSA-AES256-SHA","DHE-DSS-AES256-SHA","ECDH-ECDSA-AES256-SHA",
                        "ECDH-RSA-AES256-SHA","AES256-SHA","ECDHE-ECDSA-AES128-SHA",
                        "ECDHE-RSA-AES128-SHA","DHE-DSS-AES128-SHA","ECDH-ECDSA-AES128-SHA",
                        "ECDH-RSA-AES128-SHA","AES128-SHA"]},
                  {honor_cipher_order, true},
                  {verify,               verify_peer},
                  {fail_if_no_peer_cert, {{ rabbitmq_ssl_fail_if_no_peer }} }]},
{% endif %}
    {default_vhost,       <<"{{ rabbitmq_default_vhost }}">>},
    {default_user,        <<"{{ rabbitmq_default_user }}">>},
    {default_pass,        <<"{{ rabbitmq_default_pass }}">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {default_user_tags, [{{ rabbitmq_default_user_tags }}]},
    {channel_max, 128},
    {heartbeat, {{ rabbitmq_default_heartbeat }}},

   %% Customising Socket Options.
   %%
   %% See (http://www.erlang.org/doc/man/inet.html#setopts-2) for
   %% further documentation.
   %%
   {tcp_listen_options, [binary,
   %%                       {packet,        raw},
   %%                       {reuseaddr,     true},
                          {backlog,       4096},
   %%                       {nodelay,       true},
                          {exit_on_close, false}]},

    {vm_memory_high_watermark, {{ rabbitmq_high_watermark }} },
    {vm_memory_high_watermark_paging_ratio, {{ rabbitmq_high_watermark_paging }} },

   %% Set disk free limit (in bytes). Once free disk space reaches this
   %% lower bound, a disk alarm will be set - see the documentation
   %% listed above for more details.
   %%
   %% {disk_free_limit, 50000000},

      {disk_free_limit, {{rabbitmq_disk_free_limit}}}
  ]},

  {net, [
        {core, [
                {somaxconn, 4096}
                ]}
  ]}

{% if rabbitmq_ssl %}
  ,{rabbitmq_management,
  [{listener, [{port,     15671},
               {ssl,      true},
               {ssl_opts, [{cacertfile, "{{ rabbitmq_ssl_cacertfile }}"},
	             {client_renegotiation, false},
                             {secure_renegotiate,   true},
                             {honor_ecc_order,      true},
                             {honor_cipher_order,   true},

                             {versions,['tlsv1.1', 'tlsv1.2']},
                             {ciphers, ["ECDHE-ECDSA-AES256-GCM-SHA384",
                                        "ECDHE-RSA-AES256-GCM-SHA384",
                                        "ECDHE-ECDSA-AES256-SHA384",
                                        "ECDHE-RSA-AES256-SHA384",
                                        "ECDH-ECDSA-AES256-GCM-SHA384",
                                        "ECDH-RSA-AES256-GCM-SHA384",
                                        "ECDH-ECDSA-AES256-SHA384",
                                        "ECDH-RSA-AES256-SHA384",
                                        "DHE-RSA-AES256-GCM-SHA384"
                                        ]},
                           {certfile,   "{{ rabbitmq_ssl_certfile }}"},
                           {keyfile,    "{{ rabbitmq_ssl_keyfile }}"}]}
              ]}
  ]}
{% endif %}
].
